<div class="welcome">
  <div id="overlay">
    <form action="<%= password_path(resource_name) %>" id="reset" method="post" class="mobile-max-width">
      <h1>Forgot Your Password?</h1>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" placeholder="Email Address">
        <%= render "shared/errors", type: "email" %>
      </div>

      <button type="submit" class="btn btn-primary mobile-max-width">Send Reset Instructions</button>

      <a class="btn btn-primary mobile-max-width" href="<%= new_user_session_path %>">Return to Sign In</a>
    </form>
  </div>
</div>


